@use '@styles/common' as *;

.single_wrap {
    background: $single-color;
    width: 100%;
    height: 100vh;

    .back_illu {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        z-index: 0;
        overflow: hidden;

        .illu {
            width: 100%;
            height: 100%;
            background: url(/images/single_bg.png) center bottom / contain no-repeat;
            transform: translateY(300px);
            transition: .8s;

            &.active {
                transform: translateY(150px);
            }
        }
    }

    .section01 {
        position: relative;
        z-index: 1;

        .rotate_box_common {
            >div {
                position: absolute;
            }

            .air_balloon {
                width: 100%;
                height: 126px;
                margin-bottom: 10px;
            }

            .rotate_box_wrap01 {
                top: 0px;
                left: 5%;

                .air_balloon {
                    background: url(/images/buble04.png) center bottom / contain no-repeat;
                }

                &.active {
                    top: 30vh;
                }
            }

            .rotate_box_wrap02 {
                top: 0px;
                left: 30%;

                .air_balloon {
                    background: url(/images/buble03.png) center bottom / contain no-repeat;
                }

                &.active {
                    top: 18vh;
                }
            }

            .rotate_box_wrap03 {
                top: 0px;
                right: 28%;

                .air_balloon {
                    background: url(/images/buble02.png) center bottom / contain no-repeat;
                }

                &.active {
                    top: 35vh;
                }
            }

            .rotate_box_wrap04 {
                top: 0px;
                right: 3%;

                .air_balloon {
                    background: url(/images/buble01.png) center bottom / contain no-repeat;
                }

                &.active {
                    top: 15vh;
                }
            }

            .rotate_box_wrap01,
            .rotate_box_wrap02,
            .rotate_box_wrap03,
            .rotate_box_wrap04 {
                transform: scale(0);
                transition: 3s;

                &.active {
                    transform: scale(1);
                    animation: buble 1s linear 0s infinite alternate;
                }

                @keyframes buble {
                    0% {
                        margin-top: 0px;
                    }

                    100% {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1000px) {
    .single_wrap {
        .section01 {
            .rotate_box_common {
                .rotate_box_wrap01 {
                    &.active {
                        top: 50vh;
                    }
                }

                .rotate_box_wrap02 {
                    left: 5%;

                    &.active {
                        top: 0vh;
                    }
                }

                .rotate_box_wrap03 {
                    right: 10%;

                    &.active {
                        top: 10vh;
                    }
                }

                .rotate_box_wrap04 {
                    right: 5%;

                    &.active {
                        top: 55vh;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:800px) {
    .single_wrap {
        .back_illu {
            .illu {
                min-width: 1500px;
            }
        }
    }
}

@media screen and (max-width:500px) {
    .single_wrap {
        height: auto;

        .back_illu {
            position: static;
        }

        .section01 {
            .rotate_box_common {
                .rotate_box_wrap02 {
                    &.active {
                        top: 10vh;
                    }
                }

                .rotate_box_wrap03 {
                    &.active {
                        top: 15vh;
                    }
                }

                .air_balloon {
                    height: 80px;
                }
            }
        }
    }
}