@use '@styles/common' as *;

.ufo_box {
    position: absolute;
    @include column-flexbox($jc: center, $ai: center);
    right: 100px;
    bottom: -150px;
    transition: 2s;
    animation: buble 1s linear 0s infinite alternate;

    &.active {
        bottom: 70%;
    }

    .ufo_head {
        width: 100px;
        height: 113px;
        background: url(/images/ufo.png) center center / contain no-repeat;
    }

    .ufo_body_box {
        transform: scale(0);
        transition: 2s;
        position: relative;
        width: 230px;

        &.active {
            transform: scale(1);
        }

        .ufo_body {
            width: 100%;
            height: 253px;
            background: url(/images/ufo_shadow.png) center center / contain no-repeat;
            top: 0;
            position: absolute;
        }

        .txt_box {
            width: 200px;
            height: 200px;
            animation: rotate 5s linear 0s infinite;
            top: 150px;
            left: 15px;
            position: absolute;

            &.active {
                top: -90px;
            }

            li {
                color: $color-white;
                font-size: 20px;
                font-weight: bold;
                text-shadow: 0 0 20px $color-white;
                position: absolute;
                animation: rotate 5s linear 0s infinite reverse;
                cursor: pointer;

                &:first-child {
                    top: -10px;
                    left: calc(50% - 18px);
                }

                &:nth-child(2) {
                    top: 40%;
                    left: -47px;
                }

                &:nth-child(3) {
                    top: 40%;
                    right: -27px;
                }

                &:nth-child(4) {
                    bottom: -10px;
                    right: 15%;
                }

                &:last-child {
                    bottom: -10px;
                    left: 15%;
                }
            }
        }
    }

    &:hover {
        animation-play-state: paused;

        .txt_box {
            animation-play-state: paused;

            li {
                animation-play-state: paused;
            }
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes buble {
    0% {
        margin-bottom: 0px;
    }

    100% {
        margin-bottom: 20px;
    }
}

@media screen and (max-width:1200px) {
    .ufo_box {
        right: 50px;

        .ufo_body_box {
            width: 140px;

            .ufo_body {
                height: 150px;
            }

            .txt_box {
                width: 140px;
                height: 140px;
                top: 80px;
                left: 0;

                li {
                    font-size: 16px;

                    &:first-child {
                        top: -8px;
                        left: calc(50% - 15px);
                    }

                    &:nth-child(2) {
                        top: 30%;
                        left: -30px;
                    }

                    &:nth-child(3) {
                        top: 30%;
                        right: -22px;
                    }

                    &:nth-child(4) {
                        bottom: 0px;
                    }

                    &:last-child {
                        bottom: 0px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:500px) {
    .ufo_box {
        right: 50%;
        transform: translateX(50%);
    }
}