@use '@styles/common' as *;

.mo_container {
    width: 150px;
    height: 310px;
    position: absolute;
    right: 20vw;
    bottom: -200px;
    z-index: 99999;
    background: url(/images/phone.png) center bottom / cover no-repeat;
    @include flexCenter(center);

    .img_box {
        width: 130px;
        height: 250px;
        @include flexCenter(center);

        .screen {
            width: 0;
            height: 0;
            transition: .5s;

            &.active {
                width: 100%;
                height: 3px;
            }

            &.active02 {
                height: 100%;
            }

            &.screen04 {
                background: url(/images/m_sidmool.jpg) center bottom / cover no-repeat;
            }

            &.screen03 {
                background: url(/images/m_emart.jpg) center bottom / cover no-repeat;
            }

            &.screen02 {
                background: url(/images/m_myungzi.jpg) center bottom / cover no-repeat;
            }

            &.screen01 {
                background: url(/images/m_threed.png) center bottom / cover no-repeat;
            }
        }
    }
}