@use '@styles/common' as *;

.modal_box {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 9999999;
    text-align: center;
    transition: .3s;
    opacity: 1;
    overflow-y: scroll;
    cursor: pointer;

    &.active {
        opacity: 1;
        padding-top: 150px;
    }

    ul {
        padding-top: 100px;
        padding-bottom: 100px;

        >li {
            width: 100%;
        }
    }

    .modal_box01 {
        background: #f3f1ff;

        li {
            background: url(/images/threed_all.png) center top / contain no-repeat;
            height: 500vw;
        }
    }

    .modal_box02 {
        background: #d9d9d9;

        li {
            background: url(/images/lms_all.png) center top / contain no-repeat;
            height: 2400vw;
        }
    }

    .modal_box03 {
        background: #DAE7EC;

        li {
            background: url(/images/emart_all.png) center top / contain no-repeat;
            height: 2000vw;
        }
    }

    .modal_box04 {
        background: #DDD3C7;

        li {
            background: url(/images/sidmaool_all.png) center top / contain no-repeat;
            height: 2400vw;
        }
    }
}

.delet_btn {
    position: fixed;
    right: 200px;
    top: 100px;

    &::after,
    &::before {
        @include pseudo("", 2px, 50px);
        background: #6b6b6b;
        position: absolute;
    }

    &::after {
        transform: rotate(-45deg);
        top: 0;
    }

    &::before {
        transform: rotate(45deg);
        top: 0;
    }
}

@media screen and (max-width:1300px) {
    .modal_box {
        .modal_box01 {
            .first_figma {
                ul {
                    flex-wrap: wrap;

                    li.img01,
                    li.img02,
                    li.img03,
                    li.img04,
                    li.img05 {
                        width: 100%;
                    }
                }
            }
        }

        .modal_box02,
        .modal_box03 {
            .first_photo {
                padding-bottom: 200px;

                ul {
                    flex-wrap: wrap;

                    li {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:500px) {
    .modal_box {
        .modal_box01 {
            .first_figma {
                ul {

                    li.img01,
                    li.img02,
                    li.img03 {
                        height: 100px;
                    }

                    li.img04,
                    li.img05 {
                        height: 50px;
                    }
                }
            }
        }
    }

    .delet_btn {
        position: fixed;
        right: 80px;
        top: 50px;

        &::after,
        &::before {
            @include pseudo("", 1px, 30px);
        }
    }

    .modal_box02,
    .modal_box04 {
        &:after {
            @include pseudo("", 100%, 100vh);
            position: absolute;
            top: 0;
            z-index: -1;
        }
    }

    .modal_box02 {
        &:after {
            background: #6b6b6b;
        }
    }

    .modal_box04 {
        &:after {
            background: #249A96;
        }
    }
}