@use '@styles/common' as *;

.container {
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: 20vh;
    z-index: 9999;

    .tab_box {
        position: absolute;
        top: -20px;
        right: 10px;
        z-index: 2;

        ul {
            @include flexCenter(start);
            gap: 20px;

            li {
                width: 85px;
                text-align: center;
                height: 50px;
                border: 1px solid $color-white;
                color: $color-white;
                font-size: 12px;
                line-height: 20px;
                transition: .3s;
                position: relative;
                top: 0;
                cursor: pointer;

                &.active {
                    top: -30px;
                    line-height: 50px;
                    font-weight: bold;
                }

                &:last-child {
                    &.active {
                        background: #8CC63F;
                        border: 1px solid #8CC63F;
                    }
                }

                &:nth-child(3) {
                    &.active {
                        background: #FCB416;
                        border: 1px solid #FCB416;
                        color: #484C55;
                    }
                }

                &:nth-child(2) {
                    &.active {
                        background: #112F69;
                        border: 1px solid #112F69;
                    }
                }

                &:first-child {
                    &.active {
                        background: #614cf6;
                        border: 1px solid #614cf6;
                    }
                }
            }
        }
    }

    .pc_box {
        background: $color-black;
        border-top: 3px solid #888;
        padding: 2% 2% 4% 2%;
        border-radius: 10px;
        border-bottom-left-radius: 50% 2%;
        border-bottom-right-radius: 50% 2%;
        z-index: 999;
        position: relative;

        &::after {
            @include pseudo('', 28%, .5%);
            position: absolute;
            bottom: 3%;
            left: 36%;
            background: #ddd;
            border-radius: 50%;
            box-shadow: 0 0 3px 0 $color-white;
        }

        .img_box {
            height: 29vw;
            width: 100%;
            @include flexCenter(center);
            cursor: pointer;

            .screen {
                width: 0;
                height: 0;
                transition: .5s;

                &.active {
                    height: 5px;
                    width: 100%;
                }

                &.active02 {
                    height: 100%;
                }

                &.screen01 {
                    background: url(/images/threed.png) center bottom / cover no-repeat;
                }

                &.screen02 {
                    background: url(/images/myungzi.jpg) center bottom / cover no-repeat;
                }

                &.screen03 {
                    background: url(/images/emart.jpg) center bottom / cover no-repeat;
                }

                &.screen04 {
                    background: url(/images/sidmool.jpg) center bottom / cover no-repeat;
                }
            }
        }
    }

    .text_box {
        position: absolute;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        color: $color-white;

        &.screen01 {
            .right_box {
                li:hover {
                    border: 1px solid #614cf6;
                    background: #614cf6;
                }
            }
        }

        &.screen02 {
            .right_box {
                li:hover {
                    border: 1px solid #112F69;
                    background: #112F69;
                }
            }
        }

        &.screen03 {
            .right_box {
                li:hover {
                    border: 1px solid #FCB416;
                    background: #FCB416;
                }
            }
        }

        &.screen04 {
            .right_box {
                li:hover {
                    border: 1px solid #8CC63F;
                    background: #8CC63F;
                }
            }
        }

        >div {
            top: 30%;
            transform: translateY(-50%);
            position: absolute;
        }

        .right_box {
            right: 20%;
            transition: .5s;
            opacity: 0;

            ul {
                @include column-flexbox($jc: center, $ai: center);
                gap: 40px;

                li {
                    width: 90px;
                    height: 40px;
                    border: 1px solid $color-white;
                    color: $color-white;

                    &:hover {
                        box-shadow: 4px 4px 20px #0000003b;
                    }

                    a {
                        display: inline-block;
                        width: 100%;
                        line-height: 40px;
                        text-align: center;
                        font-size: 12px;
                    }
                }
            }

            &.active {
                right: -200px;
                opacity: 1;
            }
        }

        .left_box {
            left: 20%;
            transition: .5s;
            opacity: 0;

            h2 {
                padding-bottom: 20px;
            }

            li {
                line-height: 30px;
            }

            &.active {
                left: -300px;
                opacity: 1;
            }

            text-align: right;
        }
    }
}

@media screen and (max-width:1500px) {
    .container {
        .text_box {
            .left_box {
                width: 200px;
                font-size: 14px;

                &.active {
                    left: -250px;
                }
            }

            >div {
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .container {
        .text_box {
            .left_box {
                font-size: 14px;
                width: auto;
                text-align: center;

                &.active {
                    left: 0;
                    top: 50vw;
                }
            }

            .right_box {
                &.active {
                    right: 0;
                    top: 50vw;
                }
            }

            >div {
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .pc_box {
            .img_box {
                min-height: 400px;
            }
        }
    }
}

@media screen and (max-width:1000px) {
    .container {
        .tab_box {
            width: 100%;
            right: 0;

            ul {
                li {
                    width: 15%;
                }

                justify-content: center;
            }
        }

        .text_box {
            .left_box {
                &.active {
                    top: 600px;
                }
            }

            .right_box {
                &.active {
                    top: 600px;
                }
            }
        }
    }
}

@media screen and (max-width:600px) {
    .container {
        .text_box {
            .left_box {
                font-size: 12px;
            }
        }

        .tab_box {
            ul {
                li {
                    font-size: 10px;
                }
            }
        }
    }
}

@media screen and (max-width:450px) {
    .container {
        .tab_box {
            ul {
                gap: 5px;

                li {
                    width: 20%;
                }
            }
        }

        .text_box {
            .left_box {
                &.active {
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                    top: 520px;
                }
            }

            .right_box {
                ul {
                    flex-direction: row;
                    gap: 10px;
                }

                &.active {
                    top: 450px;
                    right: 50%;
                    transform: translateX(50%);
                    width: 100%
                }
            }
        }
    }
}