@use '@styles/common' as *;

.team_wrap {
    background: $team-color;
    width: 100%;
    height: 100vh;

    .back_illu {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        z-index: 0;
        overflow: hidden;
        pointer-events: none;
        z-index: 1;

        .illu {
            width: 100%;
            height: 100%;
            background: url(/images/team_bg.png) center bottom / contain no-repeat;
            transform: translateY(300px);
            transition: .8s;

            &.active {
                transform: translateY(150px);
            }
        }
    }

    .section01 {
        position: relative;
        z-index: 2;
    }

    .commonBall {
        width: 0;
        height: 0;
        border-radius: 50%;
        transition: .5s;
        @include positionCenter;
        z-index: 999999;

        &.screen01 {
            background: #f3f1ff;
        }

        &.screen02 {
            background: #d9d9d9;
        }

        &.screen03 {
            background: #DAE7EC;
        }

        &.screen04 {
            background: #DDD3C7;
        }

        &.active {
            width: 2000px;
            height: 2000px;
        }
    }
}