@use '@styles/common' as *;

.team_wrap {
    background: $team-color;
    width: 100%;
    height: 100vh;

    .back_illu {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        z-index: 0;
        overflow: hidden;
        pointer-events: none;
        z-index: 1;

        .illu {
            width: 100%;
            height: 100%;
            background: url(/images/team_bg.png) center bottom / contain no-repeat;
            transform: translateY(300px);
            transition: .8s;

            &.active {
                transform: translateY(150px);
            }
        }
    }

    .section01 {
        position: relative;
        z-index: 2;
    }

    .ball_box {
        position: absolute;
        width: 100%;
        height: calc(100% + 200px);
        overflow: hidden;
        top: 0;

        .commonBall {
            width: 0;
            height: 0;
            border-radius: 50%;
            transition: .5s;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, calc(-50% - 100px));
            z-index: 999999;

            &.screen01 {
                background: #f3f1ff;
            }

            &.screen02 {
                background: #d9d9d9;
            }

            &.screen03 {
                background: #DAE7EC;
            }

            &.screen04 {
                background: #DDD3C7;
            }

            &.active {
                width: 2000px;
                height: 2000px;
            }
        }
    }
}

@media screen and (max-width:800px) {
    .team_wrap {
        .back_illu {
            .illu {
                min-width: 1500px;
            }
        }
    }
}

@media screen and (max-width:450px) {
    .team_wrap {
        height: auto;
        overflow: hidden;
        width: 100vw;

        .back_illu {
            position: static;
            height: 600px;
        }
    }
}